{{#if resume.certificates.length}}
<section id="certificates">
	<div class="title">
		<h3 class="title-text">Certifications</h3>
		<div class="title-divider"></div>
	</div>
	{{#each resume.certificates}}
	<div class="item">
		{{#if name}}
		<strong class="name">
			{{name}}
		</strong>
		{{/if}}
		{{#if issuer}}
		<div class="issuer">
			{{issuer}}
		</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}