{{#if resume.skills.length}}
<section id="skills">
	<div class="title">
		<h3 class="title-text">Languages and Technologies</h3>
		<div class="title-divider"></div>
	</div>
	
	{{#each resume.skills}}
	<div class="item">
		{{#if name}}
		<div class="name">
			<strong>{{name}}</strong>
		</div>
		{{/if}}
		{{#if keywords.length}}
		<div class="keywords">
			{{#each keywords}}
			{{.}}{{#if @last}}{{else}},{{/if}}
			{{/each}}
		</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}