body {
  background: #fff;
  font: 15px Arial, Helvetica, sans-serif;
  line-height: 1.4;
  margin: 50px 0;
  margin-bottom: 100px;
}
em {
  color: #999;
}
p {
  line-height: 1.4;
}
ul {
  margin-bottom: 0;
}
section {
  margin-bottom: 2em;
}
blockquote {
  margin: 0;
  margin-bottom: 1em;
}
.item {
  margin-bottom: 1em;
}
#resume {
  margin: 0 auto;
  max-width: 760px;
  padding: 0 20px;
}
#skills {
  overflow: hidden;
}
#skills .item {
  float: left;
  width: 50%;
}
#basics {
  display: flex;
  flex-flow: row wrap;
}
.alignleft,
.aligncenter,
.alignright {
  width: 33.33333%;
  display: flex;
  align-items: center;
}
.alignleft {
  text-align: left;
}
.aligncenter {
  text-align: center;
}
.alignright {
  text-align: right;
}
