@page{
  size: A4;
  margin: 10mm;
}

body {
  background: #fff;
  font: 15px Arial, Helvetica, sans-serif;
  line-height: 1.4;
  margin-top: 25px;
  margin-bottom: 100px;
}
em {
  color: #999;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
ul {
  margin-top: 0;
  margin-bottom: 1.5em;
}
a {
  color: #000;
}

#resume {
  margin: 0 auto;
  max-width: 760px;
  padding: 0 20px;
}
#basics {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1em;
}
#skills .item, #education .item {
  display: flex;
  flex-direction: row;
}
#skills .name {
  width: 15%;
}
#skills .keywords {
  width: 85%;
}
#education .course {
  width: 50%;
}
#education .institution {
  width: 50%;
}
#work .header {
  display: flex;
  flex-direction: row;
}
#work .item {
  break-inside: avoid;
}

.item {
  margin-bottom: 0.5em;
}
.text-left,
.text-center,
.text-right {
  width: 33.33333%;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.align-center {
  display: flex;
  align-items: center;
}
.align-center > * {
  flex-grow: 1;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title-text {
  flex-grow: 0;
  color: #00f;
}
.title-divider {
  flex-grow: 1;
  height: 1px;
  background-color: #00f;
  margin-left: 0.5em;
}
